# Builds Resource Pack
name: "[NOT CALLABLE] Push Build Pack"
on:
  push:
    paths-ignore:
      - "README.md"
  pull_request:
    paths-ignore:
      - "README.md"

# if a second commit is pushed quickly after the first, cancel the first one's build
#concurrency:
#  group: ${{ github.workflow }}-${{ github.ref }}
#  cancel-in-progress: true
  
jobs:
  build:
    name: Build Pack
    uses: ./.github/workflows/buildpack.yml
    with:
      separate_upload: true
      head_ref: ${{ github.head_ref }}
      true_sha: ${{ github.event.pull_request.head.sha }}
